@each $font-face in "BebasNeue", "Socialico"{/*iteramos una misma propiedad CSS*/
    @font-face
    {
	    font-family: "#{$font-face}";
	    src:    url("../font/#{$font-face}.eot");
	    src:    url("../font/#{$font-face}.eot") format("embedded-opentype"),
	            url("../font/#{$font-face}.ttf") format("truetype"),
	            url("../font/#{$font-face}.otf");
    }
}
@mixin fullScreen($color : "aqua")
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: unquote($color);
}
@mixin efectoEncabezado($grados, $color : "red")/*grupo de reglas css para varios elementos -- pueden recibir parametros opr mixin*/
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: unquote($color);
	-webkit-transform: skew(0deg, unquote($grados+"deg"));
	-moz-transform: skew(0deg, unquote($grados+"deg"));
	-ms-transform: skew(0deg, unquote($grados+"deg"));
	transform: skew(0deg, unquote($grados+"deg"));
}
#contenedor-sliders
{
	position: absolute;/*como el #contenedor-ppal (PADRE) NO tiene posicion relativa, su guia-relativa sera el body*/
	@include fullScreen("blue");
	background: transparent url("../img/background.png") repeat 100%;
	background-size: cover;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -5;/*por detras del encabezado*/
	#img-sliders
	{
		/*posicionar todos los elementos hermanos (descendientes directos), uno detras de otro*/
		white-space: nowrap;
		height: 100%;/*porque este no tenia fullscreen*/
		.slider
		{
			display: inline-block;
			/*siempre se deja un espacio entre los elemnetos que se ponen en inline-block*/
			position: relative;
			@include fullScreen("transparent");
			margin-right: -6px;
			vertical-align: top;
			background-size: 100%;
			background-size: cover;
			background-position: bottom;
			/*problema todos los sliders ocuparan el ancho y alto del contenedor padre,
			si a estos los vamos moviendo el htal,
			AUN ESTARAN OCUPANDO EL total del contenedor padre, y este se encuentra en el medio*/
		}
	}
}
#encabezado
{
	position: fixed;
	width: 100%;/*sera el 90% del view-port*/
	height: 200px;/*los pseudoelementos adoptaran esta altura*/
	top: 0;
	left: 0;
	margin-top: -160px;
	margin-top: -10rem;/*event hover: -1rem*/
	transition: all 0.5s ease-in-out 0s;
	&:before
	{
		left: 0;
		@include efectoEncabezado(5, "#000");
	}
	&:after
	{
		right: 0;
		@include efectoEncabezado(-5, "#000");
	}
	#logo
	{
		position: relative;
		display: block;
		background: #000 url(../img/logo_cometa.png) no-repeat 40% center;
		background-size: 51%;
		width: 200px;
		height: 150px;
		top: 150px;
		left: 50%;
		margin-left: -100px;
		z-index: 5;
		text-indent: -9999px;
		border-radius: 7em 0;
	}
	#eslogan
	{
		position: absolute;
		top: 175px;
		left: 0;
		margin-top: 50px;
		width: 100%;
		height: 80px;
		color: #6C91C7;
		text-shadow:
			1px -1px 0 rgba(220,220,220,1),
			2px -2px 0 rgba(210,210,210,1),
			3px -3px 0 rgba(200,200,200,1),
			4px -4px 0 rgba(190,190,190,1),
			5px -5px 0 rgba(180,180,180,1),
			6px -6px 0 rgba(170,170,170,1),
			7px -7px 15px rgba(0,0,0,0.5);
		h1
		{
			margin: 25px 0 0 -50%;
			font-family: "Calligraffitti";
		}
		h2
		{
			font: bold 1.5rem/1.5rem "Calligraffitti";
			margin: -39px 0 0 55%;
		}
	}
}
#navHotel
{
	position: fixed;
	width: 100%;/*sera el 90% del view-port*/
	height: 50px;/*los pseudoelementos adoptaran esta altura*/
	top: 0;
	left: 0;
	margin: 1rem 0 0 10px;
	font-family: "Calligraffitti";
	display: none;
	ul
	{
		width: 630px;/*RESPONSIVE*/
		height: 100%;
		margin: 0 auto;
		li a
		{
			color: #f7f7f7;
		}
	}
}
@media screen and (max-width: 1024px){
	#contenedor-ppal
	{
		background-color: red;
	}
	#encabezado
	{
		&:before
		{
			left: 0;
			@include efectoEncabezado(5, "#000");
			width: 40%;
		}
		&:after
		{
			right: 0;
			@include efectoEncabezado(-2, "#000");
			width: 60%;
		}
		#logo
		{
			left: 40%;
			border-radius: 0 7em;
		}
		#logo
		{
			background-position: 60% center;
		}
		#eslogan
		{
			h1
			{
				margin: 0px 0 0 30%;
				text-shadow:
					1px -1px 0 rgba(220,220,220,1),
					2px -2px 0 rgba(210,210,210,1),
					3px -3px 0 rgba(200,200,200,1),
					4px -4px 10px rgba(0,0,0,0.5);
			}
			h2
			{
				margin: 0px 0 0 55%;
			}
		}
	}
}
@media screen and (max-width: 768px){
	#contenedor-ppal
	{
		background-color: green;
	}
	#encabezado
	{
		&:before
		{
			height: 85%;
			width: 30%;
		}
		&:after
		{
			width: 70%;
			top: 10%;
			-webkit-transform: skew(0deg, 2deg);
		}
		#logo
		{
			width: 175px;
			height: 125px;
			top: 125px;
			left: 25%;
			border-radius: 0 6em;
		}
		#eslogan
		{
			visibility: hidden;
		}
	}
	#navHotel
	{
		ul
		{
			width: 350px;
			margin-left: 35%;
			li
			{
				margin: -5px 0 0 7%;
			}
			li:first-child
			{
				display: none;
			}
			li:nth-child(2)
			{
				margin-left:  50px;
			}
		}
	}
}
@media screen and (max-width: 480px){
	#contenedor-ppal
	{
		background-color: beige;
		#encabezado
		{
			margin-top: -7rem;
			&:before
			{
				display: none;
			}
			&:after
			{
				width: 85%;
				top: 0%;
				-webkit-transform: skew(0deg, 0deg);
			}
			#logo
			{
				width: 150px;
				height: 110px;
				top: 110px;
				left: 22%;
			}
		}
		#navHotel
		{
			ul
			{
				margin-left: 30%;
				li
				{
					a
					{
						color: white;
						font-size: 1rem;
					}
				}
			}
		}
	}
}