@each $font-face in "BebasNeue", "Socialico"{/*iteramos una misma propiedad CSS*/
    @font-face
    {
	    font-family: "#{$font-face}";
	    src:    url("../font/#{$font-face}.eot");
	    src:    url("../font/#{$font-face}.eot") format("embedded-opentype"),
	            url("../font/#{$font-face}.ttf") format("truetype"),
	            url("../font/#{$font-face}.otf");
    }
}
@mixin efectoEncabezado($grados, $color : "red")/*grupo de reglas css para varios elementos -- pueden recibir parametros opr mixin*/
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: unquote($color);
	-webkit-transform: skew(0deg, unquote($grados+"deg"));
	-moz-transform: skew(0deg, unquote($grados+"deg"));
	-ms-transform: skew(0deg, unquote($grados+"deg"));
	transform: skew(0deg, unquote($grados+"deg"));
}
#encabezado
{
	position: fixed;
	width: 100%;/*sera el 90% del view-port*/
	height: 200px;/*los pseudoelementos adoptaran esta altura*/
	top: 0;
	left: 0;
	margin-top: -160px;
	margin-top: -10rem;/*event hover: -1rem*/
	transition: all 0.5s ease-in-out 0s;
	&:before
	{
		left: 0;
		@include efectoEncabezado(5, "#000");
	}
	&:after
	{
		right: 0;
		@include efectoEncabezado(-5, "#000");
	}
	#logo
	{
		position: relative;
		display: block;
		background: #000 url(../img/logo_cometa.png) no-repeat 40% center;
		background-size: 51%;
		width: 200px;
		height: 150px;
		top: 150px;
		left: 50%;
		margin-left: -100px;
		z-index: 5;
		text-indent: -9999px;
		border-radius: 7em 0;
	}
	#eslogan
	{
		position: absolute;
		top: 175px;
		left: 0;
		margin-top: 50px;
		width: 100%;
		height: 80px;
		color: #6C91C7;
		text-shadow:
			1px -1px 0 rgba(220,220,220,1),
			2px -2px 0 rgba(210,210,210,1),
			3px -3px 0 rgba(200,200,200,1),
			4px -4px 0 rgba(190,190,190,1),
			5px -5px 0 rgba(180,180,180,1),
			6px -6px 0 rgba(170,170,170,1),
			7px -7px 15px rgba(0,0,0,0.5);
		h1
		{
			margin: 25px 0 0 -50%;
			font-family: "Calligraffitti";
		}
		h2
		{
			font: bold 1.5rem/1.5rem "Calligraffitti";
			margin: -39px 0 0 55%;
		}
	}
}
#navHotel
{
	position: fixed;
	width: 100%;/*sera el 90% del view-port*/
	height: 50px;/*los pseudoelementos adoptaran esta altura*/
	top: 0;
	left: 0;
	margin-top: 1rem;
	font-family: "Calligraffitti";
	display: none;
	ul
	{
		width: 600px;/*RESPONSIVE*/
		height: 100%;
		margin: 0 auto;
		li a
		{
			color: #f7f7f7;
		}
	}
}